<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <img src="../../style/image/logoLogin.svg" className="logoTipo" alt="logo"/>
    <form action="/login" method="POST">
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email">
    </div>
    <div>
        <label for="senha">Senha</label>
        <input type="text" id="senha" name="senha">
    </div>
    <input type="submit" name="enviar" value="enviar..."/>
    </form>
</body>
</html>