<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar</title>
</head>
<body>
    <form action="/registro" method="POST"></form>
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email">
    </div>
    <div>
        <label for="senha">Senha</label>
        <input type="text" id="senha" name="senha">
    </div>
    <button type="submit">Cadastrar-se</button>
</body>
</html>